body {
  background: linear-gradient(180deg, #fffdf7, #fef4e5);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.Sakila-DB {
  color:#152734;
  font-weight: 500;
  font-family: Arial Narrow, sans-serif;
  text-align: center;
  margin: 30px 0 15px;
}

.Sakila-DB h1 {
  color:#152734;
  font-weight: 600;
  font-family: Georgia, serif;
  font-size: 50px;
}

.Sakila-DB h2 {
  color:#152734;
  font-family:Georgia, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  margin-top: -18px;
  margin-bottom: 40px;
}

.top-five-films {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.films-title {
  font-family: Georgia, serif;
  font-size: 38px;
  color: #b02415;
  margin-top: 35px;
  margin-bottom: 20px;
}

.film-item {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  width: 150px;
  background-color: #fffcf4;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.film-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.film-image {
  width: 200px;
  height: 200px;
  filter:  saturate(1.5) brightness(0.7) contrast(1.3);
  margin-left: -25px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}

.film-image:hover {
  transform: scale(1.05);
}

.search-bar {
  width: 70%;
  height: 25px;
  padding: 6px;
  font-size: 18px;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  margin-top: 15px;
}

.films-list {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.film-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #333;
}

.film-link:hover {
  color: #feb103;
}
.film-link-table:hover {
  color: #feb103;
}

.film-genre {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #000000;
}

.scrollable {
  max-height: 550px;
  max-width: 1000px;
  overflow-y: auto;
  margin-top: 15px;
  border: 2px solid #ccc;
}

.films-page {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 700px;
  margin-left: 10px;
}

.films-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 40px;
  background-color:white;
}

.films-table td {
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd
}

.films-table th {
  background-color: #c7dbc4;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd
}

.film-link-table {
  font-size: 17px;
  color:#000000;
  text-decoration: none;
}

.page-button {
  background-color: #f0f0f0;
  border: 0.5px solid #ccc;
  color: #333;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.active.page {
  background-color: #ff7b00;
  color: white;
  border: none;
}

.top-five-actors {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.actor-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 700px;
  margin-left: 10px;
}

.actor-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 8px;
}

.actor-item {
  text-align: center;
  width: 120px;
} 

.actor-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.actor-image:hover {
  transform: scale(1.1);
}

.customer-page {
  padding: 20px;
  text-align: center;
}

.customer-title {
  font-family: Georgia, serif;
  font-size: 38px;
  color: #b02415;
  margin-top: 10px;
  margin-bottom: 30px;
}

.customer-table-wrap {
  max-height: 800;
  max-width: 1100;
  overflow-x: auto;
}

.customer-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-left: 150px;
  background-color:white;
}

.customer-table th {
  background-color: #c7dbc4;;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd
}

.customer-table td {
  text-align: left;
  padding: 20px;
  border: 1px solid #ddd
}

.pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #45466e;
  padding: 12px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.nav-center {
  position: absolute;
  left: 80%;
  display: flex;
  align-items: center;
  gap: 9px;
}

.nav-icon {
  filter: brightness(0.88) contrast(1.4);
  width: 50px;
  height: 50px;
}

.nav-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.nav-link {
  font: 'emily sans';
  font-size: 20px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  padding: 5px 30px;
  border-radius: 8px;
  margin: 4px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #5c5d89;
  color: #f4f4f4;
  
}
